<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/event.css" />
    <title>Event_1</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <div class="event-name">RoboWars</div>
    <div class="event-data">
      <div class="event-image">
        <img src="../static/Background.jpg" alt="" class="image" />
        <img src="../static/Background.jpg" alt="" class="image" />
      </div>
      <div class="event-info">
        <div class="event-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, qui
          ipsa dolores minus ullam facilis nesciunt assumenda ratione
          voluptatum, veritatis molestias eveniet perspiciatis repudiandae
          commodi, quia officiis recusandae ex sapiente neque quas quod! Dolorum
          recusandae quis optio voluptatibus soluta vel, corporis atque maiores
          illum cupiditate qui similique error, quasi placeat molestiae nam
          <div class="other-info">
            <div class="date"></div>
            <div class="prize"></div>
          </div>

        </div>
        <div class="line"></div>
        <div class="button button_slide slide_right">REGISTER NOW</div>
      </div>
    </div>
  </body>
</html>
