<div class="footer">
  <div class="team-name">WEBSTARS&copy</div>
  <div class="footer-info">
    <div class="member-info">
      <div class="member-name">Harsh Dalwadi</div>
      <div class="member-socials">
        <a href="https://github.com/HarshDDalwadi">
          <img
            src="../static/icons8-github-50.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
        <a href="https://www.linkedin.com/in/harsh-d-1a4308228/">
          <img
            src="../static/icons8-linkedin-2-50.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
        <a href="https://www.instagram.com/harsh.dalwadi_21/">
          <img
            src="../static/insta.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
      </div>
    </div>
    <div class="member-info">
      <div class="member-name">M. Sivevelan</div>
      <div class="member-socials">
        <a href="https://github.com/MSVelan">
          <img
            src="../static/icons8-github-50.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
        <a href="https://www.linkedin.com/in/muthiah-sivavelan-118824228/">
          <img
            src="../static/icons8-linkedin-2-50.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
        <a href="https://www.instagram.com/muthiahsivavelan/">
          <img
            src="../static/insta.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
      </div>
    </div>
    <div class="member-info">
      <div class="member-name">Mithil Jogi</div>
      <div class="member-socials">
        <a href="https://github.com/Mithil05">
          <img
            src="../static/icons8-github-50.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
        <a href="https://www.linkedin.com/in/mithil-jogi-8b7046225/">
          <img
            src="../static/icons8-linkedin-2-50.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
        <a href="https://www.instagram.com/mithil05/">
          <img
            src="../static/insta.png"
            alt=""
            srcset=""
            class="member-social-icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>


