

<div class="nav-bar">
    <div class="nav-btn">  <a href="http://localhost:3000/#" style="--clr:#1e9bff"><span>HOME </span><i></i></a></div>
    <div class="nav-btn">  <a href="http://localhost:3000/dashboard/#about" style="--clr:#6eff3e"><span>ABOUT </span><i></i></a></div>
    <div class="nav-btn">  <a href="http://localhost:3000/contact-us" style="--clr:#ff1867"><span>CONTACT</span><i></i></a></div>
    <div class="nav-btn">  <a href="/login" style="--clr:#1e9bff"><span>LOGIN </span><i></i></a></div>
    <div class="nav-btn">  <a href="http://localhost:3000/dashboard/#events" style="--clr:#6eff3e"><span>EVENTS </span><i></i></a></div>
    <div class="nav-btn">  <a href="http://localhost:3000/user-dashboard" style="--clr:#ff1867"><span>DASHBOARD </span><i></i></a></div>
  </div>