<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
  </head>
  <body>
    <script>
      
    </script>
    <h1>Register for Event</h1>
    <form action="/register-event" method="POST">

      <div class="email">
        <input type="email"
        id="email"
        placeholder="Enter your email"
        name="email"
        required>
      </div>
        <div class="event_name">
            <!-- <input type="text"
            id="event_name"
            name="event_name"
            placeholder="Event Name"
            required> -->


            <label for="event_name">Select an Event:</label>
            <select id="event_name" name="event_name" placehoder="Event Name">
              <option value="RoboWars">RoboWars</option>
              <option value="CoDecode">CoDecode</option>
              <option value="Cozmo Clench">Cozmo Clench</option>
              <option value="Generate-A-Thon">Generate-A-Thon</option>
              <option value="Home Automation">Home Automation</option>
              <option value="Young Innovator">Young Innovator</option>
              <option value="WeldRight">WeldRight</option>
              <option value="Olympiad">Olympiad</option>
              <option value="RowBotics">RowBotics</option>
            </select>
        </div>
      <div>
        <input type="submit" value="Register">
      </div>
    </form>
  </body>
</html>
